.title
.mainTitle {
   
}

.formBox {
    border: 1px black solid;
}

.subTitleRow {

}

subTitleCol {
    
}

.subTitle {}
    


.outputField {
    border: 1px black dotted;
    width: 100%;
}

.entryField

.buttons {}

.generatePassword
.CopyToClipboard

